:root {
	--font: "EB Garamond", serif;
	--font-title: "Playfair Display", serif;
	--font-sans-serif: "Manrope", sans-serif;
	--black: #1c1f33;
	--black-acc: #222;
	--gray: #eee;
	--gray-1: #ededed;
}

body {
	font-size: 1.1rem;
	font-family: var(--font), Times, serif;
	color: var(--black);
	background-image: url('images/paper_fibers.png');
	background-repeat: repeat;
	padding: 4rem 2rem;
	line-height: 1.3;
	text-align: justify;
}

a {
	text-decoration: none;
	display: block;
	color: var(--black);
}

a:hover,
a:focus,
a:active,
a:visited {
	color: var(--black-acc);
}

/* Main Wrapper */
.main__wrapper {
	max-width: 1135px;
	margin: auto;
}

/* Typography */
h1 {
	font-family: "Playfair Display SC", serif;
	font-size: 40px;
	text-align: center;
}

@media (min-width: 700px) {
	h1 {
		font-size: 70px;
	}
}

h3 {
	font: italic 22px var(--font-title);
    font-weight: 700;
	margin-bottom: 1rem;
}

/* h4 {
	font: 20px/1.2 var(--font-title);
} */

h5 {
	font: 700 20px/1 var(--font);
	transition: 0.3s ease;
}

em {
	font-style: italic;
}

p {
	line-height: 1.3;
}

p a {
	display: inline;
}

.title--large {
	font-family: var(--font-title);
	font-size: 32px;
	font-style: italic;
	text-align: left;
	margin-bottom: 0.8rem;
}

@media (min-width: 700px) {
	.title--large {
		font-size: 42px;
		margin: 0;
	}
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 3fr 3fr; /* Columns 5 and 6 are now wider */
    gap: 20px;
}

@media (min-width: 700px) {
	main {
		grid-template-columns: 1fr 1fr 1fr 1fr 1.6fr;
		grid-template-rows: repeat(5, auto);
	}
}

main h1,
main aside {
	grid-column: 1 / -1;
}

.main-title {
	grid-column: 1 / -1;
}

@media (min-width: 1024px) {
	.main-title {
		grid-column: 1 / -2;
	}
}

.mypicture {
	grid-column: 1 / -1;
}

@media (min-width: 1024px) {
	.mypicture {
		grid-column: 3 / span 2;
	}
}

.main-text {
	grid-column: span 5;
}

@media (min-width: 1024px) {
	.main-text {
		grid-column: span 2;
	}
}

.sidebar {
	grid-column: 1 / -1;
}

@media (min-width: 1024px) {
	.sidebar {
		grid-row: 3 / 9;
		grid-column: 5 / 6;
	}
}

.tech {
	grid-column: 1 / -2;
	grid-row: 8 / 9;
}

.article-bar-1 {
	grid-row: span 4;
}


.menu {
	grid-column: 1 / -1;
	grid-row: 13;
}

@media (min-width: 1024px) {
	.menu {
		grid-row: 7 / 8;
		grid-column: 2 / 4;
	}
}


.cssgrid-collection {
	grid-column: 1 / -1;
	grid-row: 9;
}

.span--2 {
	grid-column: span 2;
}

.long--2 {
	grid-row: span 2;
}

.long--4 {
	grid-row: span 4;
}

.with-border {
	border-top: 1px solid;
	padding-top: 0rem;
}

img {
	width: 100%;
	filter: grayscale(95%);
	margin-bottom: 0.5rem;
	border: 1px solid var(--black);
	transition: 0.3s ease;
}

figcaption {
	font-style: italic;
	font-size: 80%;
}

aside {
	text-align: center;
	padding: 3px 0;
	border: solid var(--black);
	border-width: 2px 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 1.5rem 0;
}

@media (min-width: 700px) {
	aside {
		margin: 0;
	}
}

aside > div {
	display: flex;
	align-items: center;
	border: solid var(--black);
	border-width: 1px 0;
}

aside > div > div {
	flex: 1;
	padding: 8px;
}

.multi-column {
	column-count: 2;
	column-gap: 1.3rem;
	margin-top: 0.75rem;
}

.multi-column-3 {
	column-count: 3;
	column-gap: 1.3rem;
	margin-top: 0.75rem;
}

.multi-column  p a {
	border-bottom: 1px dashed;
}

.multi-column p a:hover {
	border-bottom: 1px solid;
}


.sidebar {
	margin-top: 3rem;
}

@media (min-width: 700px) and (max-width: 1024px) {
	.sidebar {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		margin: 0;
	}

	.sidebar h3 {
		width: 100%;
		text-align: center;
	}

	.sidebar > a {
		flex: 0 1 48%;
		margin: 1.5rem 0;
		padding: 0;
	}

	.sidebar .weather {
		border-top: 0;
	}

	.sidebar .github-activities {
		order: 3;
	}
}

@media (min-width: 1024px) {
	.sidebar {
		display: block;
		border-left: 1px solid;
		padding-left: 1.2rem;
		margin: 0;
	}
}

.main-text.multi-column {
	margin: 0;
}

.main-text.multi-column p {
	margin-bottom: 0.8rem;
}

/*My Picture*/
.mypicture {
	margin: 1.5rem 0;
}

@media (min-width: 300px) {
	.mypicture {
		margin: 0 0 1.5rem;
	}
}

.mypicture figure {
	height: 120%;
}

.mypicture img {
    width: 70%;
	height: 80%;
	object-fit: cover;
	object-position: center;
}

/*Sidebar - Github Activities*/
.github-activities {
	line-height: 0;
	color: var(--gray);
	text-align: left;
}

.github__image {
	margin: 0;
	border: 0;
	max-height: 15rem;
	object-fit: cover;
}

.github__subtitle {
	background: #999;
	text-transform: uppercase;
	line-height: 1;
	padding: 0.4rem 1rem;
	font: 14px var(--font-sans-serif);
	color: var(--gray);
}

.github__content {
	background: #666;
	padding: 1rem 1rem 1.2rem;
	color: var(--gray);
}

.github__content p {
	margin-top: 0.5rem;
}

.sidebar-item {
	margin: 2rem 0;
	padding: 2rem 0 0;
}

.sidebar-item h5 {
	text-align: center;
	width: 100%;
	padding: 0.5rem;
	margin: auto;
}

.sidebar-item p {
	margin-top: 1rem;
}

.sidebar-item:hover h5 {
	transition: 0.3s ease;
	background: var(--black);
	color: #fff;
}

.item-with-image {
	margin-top: 1.5rem;
}

.item-with-image h4 {
	font-size: 24px;
	text-align: left;
	margin-bottom: 0.5rem;
	transition: 0.2s ease;
}

@media (min-width: 700px) {
	.item-with-image {
		margin: 0;
	}
}

.item-with-image:not(.cssgrid-collection):hover h4 {
	color: white !important;
	background: var(--black);
}



.cssgrid-collection {
	display: flex;
	align-content: stretch;
	border-top: 1px solid;
	padding-top: 1rem;
}

.cssgrid-collection h4 {
	margin: 0 0 0.8rem;
}

.cssgrid-collection__image {
	flex: 0 0 32%;
	margin-right: 1.5rem;
}

.cssgrid-collection__image img {
	height: 100%;
	object-fit: cover;
	object-position: left;
}

.cssgrid-collection p a {
	border-bottom: 1px dashed;
}

.cssgrid-collection p a:hover {
	border-bottom: 1px solid;
}

/*Github trending */
.trending {
	margin-top: 0;
}

@media (min-width: 1024px) {
	.trending {
		margin-top: 0;
	}
}

/*Tech News*/
.tech {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: max-content auto;
	color: var(--gray);
	text-align: left;
}

.tech__image {
	margin: 0;
	border: 0;
	grid-row: span 2;
	height: 100%;
	object-fit: cover;
}

.tech__subtitle {
	background: #999;
	text-transform: uppercase;
	line-height: 1;
	padding: 0.4rem 1rem;
	color: var(--gray);
	font: 14px var(--font-sans-serif);
}

.tech__content {
	background: #666;
	padding: 1rem;
	color: var(--gray);
	grid-column: 2;
}



.github-activities:hover img,
.tech:hover img,
.menu:hover img,
.mypicture:hover img,
.project1:hover img,
.project2:hover img,
.cssgrid-collection__image:hover img {
	filter: grayscale(0);
}

/*Project 1*/
.project1 {
	padding-bottom: 1rem;
	border-bottom: 1px solid;
}

@media (min-width: 700px) and (max-width: 1024px) {
	.project1 {
		grid-column: span 3;
		margin: 0 0 1.5rem;
	}
}



.project1 {
	grid-column: 1 / span 2;
	grid-row :  5 ;
}

.project2 {
	grid-column : 1 / span 2;
}

.project2.toeic-image {
	grid-column: 4;
}



/*Daily Leetcode*/
.leetcode {
	border: 2px solid transparent;
	outline: 3px solid var(--black);
	box-shadow: inset 0 0 0 1px var(--black);
	width: calc(100% - 4px);
	margin: 1.5rem auto;
	overflow: hidden;
}
@media (min-width: 700px) {
	.leetcode {
		margin: 0;
	}
}
.leetcode__title {
	font: 800 24px/1 var(--font-sans-serif);
	text-transform: uppercase;
	background: var(--black);
	color: var(--gray);
	padding: 0.8rem 0.8rem 0.9rem;
	transition: 0.2s ease;
}
@media (min-width: 700px) and (max-width: 1024px) {
	.leetcode__title {
		font: 800 21px/1.2 var(--font-sans-serif);
		padding: 1.5rem 0.5rem;
	}
}


.leetcode__image {
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
	
}

.leetcode__image img {
	position: absolute;
    border: 0;
    width: 40%; 
    height: auto; 
    transform-origin: center center;
	transition: filter 0.3s ease; /* Smooth transition effect */
}
@media (min-width: 700px) and (max-width: 1024px) {
	.leetcode__image img {
		bottom: 120%;
	}
}

.leetcode__image #jan-badge {
    transform: translate(-100%, 300%) rotate(-10deg); 
    z-index: 12;
}

.leetcode__image #feb-badge {
    transform: translate(-40%, 260%) rotate(-10deg);
    z-index: 11;
}

.leetcode__image #march-badge {
    transform: translate(20%, 220%) rotate(-10deg); 
    z-index: 10;
}

.leetcode__image #april-badge {
    transform: translate(80%, 180%) rotate(-10deg); 
    z-index: 9;
}

.leetcode__image #may-badge {
    transform: translate(-100%, 400%) rotate(-10deg);
    z-index: 8;
}

.leetcode__image #june-badge {
    transform: translate(-40%, 360%) rotate(-10deg);
    z-index: 7;
}

.leetcode__image #july-badge {
    transform: translate(20%, 320%) rotate(-10deg);
    z-index: 6;
}

.leetcode__image #aug-badge {
    transform: translate(80%, 280%) rotate(-10deg);
    z-index: 5;
}

.leetcode__image #sep-badge {
    transform: translate(-100%, 500%) rotate(-10deg);
    z-index: 4;
}

.leetcode__image #oct-badge {
    transform: translate(-40%, 460%) rotate(-10deg);
    z-index: 3;
}

.leetcode__image #nov-badge {
    transform: translate(20%, 420%) rotate(-10deg);
    z-index: 2;
}

.leetcode__image #dec-badge {
    transform: translate(80%, 380%) rotate(-10deg);
    z-index: 1;
}


.leetcode__image span {
	font-style: italic;
	max-width: 110px;
	position: absolute;
	top: 7%;
	left: 18%;
	font-size: 22px;
	line-height: 0.9;
	transform: rotate(-5deg);
}

.leetcode:hover .leetcode__title {
	background: transparent;
	color: var(--black);
}


.leetcode__image:hover img {
    filter: grayscale(0%); /* Remove grayscale on hover */
}


.fun-fact {
	grid-column: 4;
	grid-row: 5;
	border: 2px solid #ccc; /* Example border for the fun-fact section */
    padding: 15px;
    margin: 10px 0;
    display: block;
    text-align: left;
}


.fun-fact p a {
    border-bottom: 1px dashed; 
}

.fun-fact p a:hover {
    border-bottom: 1px solid; /* Solid border on hover */
}
